#mainContent {
	width:100%;
	height:1000px;
	overflow: hidden;
}

#content {
	height:inherit;
	width: 100%;
}

#uploadedImage {
	border: 2px solid black;
	background: repeating-linear-gradient(
	  45deg,
	  #cccccc,
	  #cccccc 10px,
	  #aaaaaa 10px,
	  #aaaaaa 20px
	);
}

#pic1, #pic2, #pic3, #pic4, #pic5 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#wand, #erase, #editCrop, #editCrop2, #color, #colorElim {
	background-color:transparent;
	border-color: transparent;
	color: white;
}

#paint {
	margin-left: 10px;
}

.Elements {
	width: 80px;
	margin: auto;
	margin-top: 30px;
	height: 90px;
	background-color: #cccccc;
	border: 3px solid black;
	text-align: center;
	color: #777777;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	display: block;
	background: repeating-linear-gradient(
	  45deg,
	  #cccccc,
	  #cccccc 10px,
	  #aaaaaa 10px,
	  #aaaaaa 20px
	);
}

.Elements:hover {
	border-color:#0000ff;
}

#ElementDisplay {
	display: none;
	background-color: #000000;
	position: absolute;
	z-index: 5;
	height: 0px;
	width: 0px;
	right: 55%;
	top: 0px;
}

#ElementCanvas {
	display: block;
	background: repeating-linear-gradient(
	  45deg,
	  #cccccc,
	  #cccccc 10px,
	  #aaaaaa 10px,
	  #aaaaaa 20px
	);
	margin: auto;
	margin-top: 15px;
	border: 3px solid #fff;
}

#toolBar {
	background-color:#000000; 
	width:60px; 
	display:none; 
	margin:0px; 
	float:left;
	padding-bottom: 5px;
	box-shadow: 2px 1px 8px black;
}

#hideToolButton, #tool1, #tool2, #tool3, #undoButton, #greyScaleButton, #tool4, #tool5, #eraserButton {
	border-radius:50%;
	display:block; 
	margin-top:10px; 
	margin-bottom:10px;
	margin-left:auto; 
	margin-right:auto; 
	background-color:#000000; 
	color:#ffffff;
	border-color:#000000;
}

#hideToolButton:hover, #tool1:hover, #color:hover, #tool2:hover, #tool3:hover,  #tool5:hover, #undoButton:hover, #greyScaleButton:hover, #tool4:hover, #eraserButton:hover, #erase:hover, #wand:hover, #colorElim:hover, #editCrop:hover {
	background-color:#999999;
}

#hideToolButton:focus, #tool1:focus, #color:focus , #toolButton:focus, #tool2:focus,  #paint:focus, #erase:focus,  #eraserButton:focus, #erase:focus, #wand:focus, #colorElim:focus, #editCrop:focus {
	background-color:#555555;
}

.templateButtons:focus, .btnFocus:focus{
	outline:0 !important;
}

#toolButton {
	border-radius:50%;
	border-top-left-radius: 0px;
	border: none;
	border-bottom-left-radius: 0px;
	float:left;
	background-color: #444444;
	color: white;
	padding: 10px;
	padding-left: 2px;
	text-shadow: 2px 2px 8px black;
	box-shadow: 1px 1px 8px black;
}

#leftSection {
	width:calc(50% - 50px); 
	height:inherit; 
	float:left;
}

#rightSection {
	width:calc(50% - 50px); 
	height:inherit; 
	float:left;
	position: relative;
	left: 100px;
}

#centerBeam {
	background-color:#999999; 
	width:100px; 
	height:inherit; 
	position: relative;
	margin-left: -50px;
	left: 50%;
	padding-top:1px;
	box-shadow: 2px 1px 8px black;
}

#leftButton {
	float:right; 
	border-radius:0px;
	border:none;
	background-color: #999999;
	z-index: 5;
	position: relative;
}

#rightButton {
	float:left; 
	border-radius:0px;
	border:none;
	background-color: #999999;
	z-index: 5;
	position: relative;
}

#ExitButton {
	position: absolute;
	top: 0px;
	right: 0px;
}

#leftButton:focus, #rightButton:focus, #ExitButton:focus {
	outline: none;
}

#imageSpace {
	width:87%; 
	margin-top:50px; 
	max-width:800px;
}

#draggable {
	background-color: #ccc;
	border: 1px solid #000;
}

#previewCanvas {
	border: 2px solid black;
	margin-top: 5px;
	max-width: 100%;
}

#preview {
	margin-bottom: 0px;
	text-align: center;
}

#templateNum, #previewCanvas, #imageSpace {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#templateTitle {
	text-align: center;
	width: 289px;
	margin:auto;
	margin-top: 40px;
}

#templateNum {
	margin-top: 70px;
	width: 30%;
}

#fontStyleButtons{
	padding-top: 5px;
	margin: auto;
	width: 82px;
}

#textEditing {
	position: relative;
	width: 50%;
	margin:auto;
	text-align: center;
}

#signature {
	display: inline-block;
}

#fontSelect {
	width: 100px;
	display: block;
	margin: auto;
	margin-top: 5px;
}

#file-upload {
	position: relative;
	margin: auto;
	top: 50px;

}

.templateBackground{
	position: relative;
	height: inherit;
}

.dropdown-content {
	display:none;
	position: absolute;
	min-width: 40px;
	z-index: 5;
	box-shadow: 2px 1px 8px black;
}

.dropdown {
	position:relative;
	display: inline-block;
	z-index: 5;
	float: right;
}

.buttonDiv {
	z-index: 5;
	background-color: #555555;
	padding:5px 12px;
	border: 1px solid black;
	border-top: none;
	cursor: pointer;
}

.templateButtons {
	width: 60px;
	height: 50px;
	border: none;
	z-index: 5;
	border-radius: 50%;
}

.buttonDiv:nth-child(even) {
	background-color: #555555;
}

.buttonDiv:nth-child(even) {
	background-color: #888888;
}

.templateHover {
	color: white;
	font-weight: bold;
	background-color: #555555;
	border: none;
	height: 40px;
	z-index: 5;
	text-shadow: 2px 2px 8px black;
	box-shadow: 2px 1px 8px black;
	border-bottom: 1px solid black;
}

.templateBackground{
	position: relative;
	height: inherit;
	max-height: inherit;

}

.templateDiv{
	position: relative;
	overflow: hidden;
	padding: 0px;
	max-height: 1000px;
	width: 80%;
	margin: auto;
}

#template2, #template3, #template4, #template5 {
	display: none;
}

#template2 {
	width: 50%;
	max-width: 320px;
}

#template3 {
	max-width: 500px;
}

.shirtOverlay { 
	position:relative;
	z-index: 2;
	height: inherit;
	opacity: 0.7;
	border: 2px solid black;
	pointer-events: none;
	width: 100%;
	max-height: inherit;
} 

.fonts {
	display: none;
} 
    
.clothESpot {          
	width: 100%;
	height: 100%; 
	border: 2px solid black;
} 
.wrapper{
	padding:0px;
    position:absolute;
    z-index: 1;
	background: repeating-linear-gradient(
	  45deg,
	  rgba(204, 204, 204, 0.7),
	  rgba(204, 204, 204, 0.7) 10px,
	  rgba(170, 170, 170, 0.7) 10px,
	  rgba(170, 170, 170, 0.7) 20px
	);
}

.closeButton {
	width: 30px;
	height: 30px;
	top: -15px;
	right:-15px;
	position: absolute;
}

.hiddenAssets{
	display: none;
}

.controls {
    float: right;
    margin: 10px;
}
.controls > div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}
.controls label {
    float: left;
}
.controls > div input {
    background-color: #121212;
    border: 1px solid #2F2F2F;
    color: #DDDDDD;
    float: right;
    font-size: 10px;
    height: 14px;
    margin-left: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 75px;
}
.preview {
    background: url("img/select.png") repeat scroll center center transparent;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #444444;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: inline-block;
	position: relative;
	top: 11px;	
}

.dynamicElement{
	width: 20%;
	height: 20%;
}


#finalPreviewDiv{
	display: none;
}
.templates {
	position: relative;
}

#colorsWord {
	color: white;
	text-align: center;
	margin:0px;
}

.colorSwatch {
	width:50px;
	height:30px;
	display:none;
	margin: auto;
	z-index: 5;
	cursor:pointer;
	border: 1px solid black;
}

td {
	padding: 5px;
}

#ExitButton2 {
	position: absolute;
	top:0px;
	background-color: transparent;
	border:none;
	color: white;
	height: 33px;
	width: 100%;
	padding-top: 8px;
	padding-right: 85px;
}

.colorSelection {
	background-color:#444444;
	position:absolute;
	width:60px;
	height:40px;
	float:right;
	top: 0px;
	right: 0px;
	z-index: 4;
	text-shadow: 2px 2px 8px black;
	box-shadow: 2px 1px 8px black;
	color:white;
	font-weight:bold;
	border:none;
	cursor:pointer;
}

#CName {
	width: 46px;
	display: block;
	margin:auto;
	margin-top: 10px;
}

#layoutsMenu {
	position: absolute;
	display: none;
	box-shadow: 2px 1px 8px black;
	color:white;
	z-index: 5;
}

.LayoutNames, #layoutTitle {
	width: 150px;
	height: 40px;
	border: 1px solid black;
	border-top: none;
	cursor: pointer;
	background-color: #888888;
	padding-left: 7px;
	padding-top: 10px;
	font-size: 12px;
}

#layoutTitle {
	font-weight:bold;
	font-size: 15px;
	border-top: 1px solid black;
}

.LayoutNames:nth-child(even) {
	background-color: #555555;
}

.LayoutNames:nth-child(odd) {
	background-color: #888888;
}

.layouts {
	width: 100%;
	height: 100%;
}

#shirtLayout2 {
	display: none;
}

#t1Ele1{
	top: 20%;
	left: 20%;
	width: 15%;
	height: 25%;
}

#t1Ele2{
	top: 30%;
	left: 65%;
	width: 15%;
	height: 25%;
}

#t1Ele3{
	top: 65%;
	left: 15%;
	width: 25%;
	height: 15%;
}

 #t2Ele1{    
    top: 7%;
    left: 35%;  
    width: 40%;
    height: 18%;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
  }
    
#t2Ele2{
    top: 77%;
    left: 30%;
    z-index: 1;
    width: 40%;
    height: 18%;
}
#t2Ele3{
    top: 92%;
    left: 48%;
    z-index: 1;
    width: 30%;
    height: 4%;
}

#t3Ele1{
    top: 79%;
    left: 37%;
    width: 27%;
    height: 17%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}

#t3Ele2{
	top: 62%;
	left: 45%;
	width: 22%;
	height: 14%;
	-ms-transform: rotate(-50deg); /* IE 9 */
	-webkit-transform: rotate(-50deg); /* Safari */
	transform: rotate(-50deg);
}
#t3Ele3{
	top: 89%;
	left: 48%;
	width: 22%;
	height: 4%;
	-ms-transform: rotate(-50deg); /* IE 9 */
	-webkit-transform: rotate(-50deg); /* Safari */
	transform: rotate(-50deg);
}

#t3Ele4{
	top: 45%;
	left: 45%;
	width: 23%;
	height: 13%;
	-ms-transform: rotate(130deg); /* IE 9 */
	-webkit-transform: rotate(130deg); /* Safari */
	transform: rotate(130deg);
}

#t3Ele5{
	top: 25%;
	left: 45%;
	width: 23%;
	height: 13%;
	-ms-transform: rotate(-30deg); /* IE 9 */
	-webkit-transform: rotate(-30deg); /* Safari */
	transform: rotate(-30deg);
}

.t4ESpot {
	width: 13%;
	height: 23%;
}

#t4Ele1 {
	top: 57%;
	left: 3%;
}

#t4Ele2{
	top: 57%;
	left: 16.5%;
}

#t4Ele3{
	top: 59%;
	left: 30%;
}

#t4Ele4{
	top: 62%;
	left: 43.5%;
}

#t4Ele5{
	top: 59%;
	left: 57%;
}

#t4Ele6{
	top: 57%;
	left: 70.5%;
}

#t4Ele7{
	top: 57%;
	left: 84%;
}

#t4Ele8{
	top: 81.5%;
	left: 72%;
	width: 13%;
	height: 7%;
}

#t5Ele1 {
	top: 68%;
	left: 70%;
	width: 18%;
	height: 25%;
}

#t5Ele2 {
	top: 84.5%;
	left: 71.5%;
	width: 15%;
	height: 10%;
}

#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:absolute;
	background-color:#FFF;
	width:250px;
	height:150px;
	border:5px solid #000;
	z-index: 9002;
}

#popupText {
	padding-left:20px;
	padding-top:10px;
}

#popUpDiv a {position:relative; top: 25px; left:150px}

#popUpDiv a:link, #mainContent a:visited {color:#fff; text-decoration:none; font-size:18px; background:#000000; padding:5px; -webkit-border-radius:10px;
-moz-border-radius:10px}
#popUpDiv a:hover, #mainContent a:active {color:#fff; text-decoration:none; font-size:18px; background:#333333; padding:5px; -webkit-border-radius:10px;
-moz-border-radius:10px}
.colorSlider2 {
	height: 50px !important;
	width:50px !important;
	margin-bottom: -20px;
	writing-mode: bt-lr;
	-webkit-appearance:
	slider-vertical;
}
