#mainContent {
	width:100%;
	height:700px;
}

#content {
	height:inherit;
	width: 100%;
}

#uploadedImage {
	border: 2px solid black;
}

#pic1, #pic2, #pic3, #pic4, #pic5 {
	width: 74px;
	height: 84px;
	margin-top: -59px;
}

#paint, #erase {
	background-color:transparent;
	border-color: transparent;
	color: white;
}

#paint {
	margin-left: 10px;
}

.Elements {
	width: 80px;
	margin: auto;
	margin-top: 30px;
	height: 90px;
	background-color: #cccccc;
	border: 3px solid black;
	text-align: center;
	color: #777777;
	font-size: 24px;
	font-weight: bold;
	padding-top: 25px;
	overflow: hidden;
}

.Elements:hover {
	border-color:#0000ff;
}

#ElementDisplay {
	display: none;
	background-color: #000000;
	position: absolute;
	z-index: 5;
	height: 0px;
	width: 0px;
	right: 55%;
	top: 0px;
}

#ElementCanvas {
	display: block;
	background: repeating-linear-gradient(
	  45deg,
	  #cccccc,
	  #cccccc 10px,
	  #aaaaaa 10px,
	  #aaaaaa 20px
	);
	margin: auto;
	margin-top: 15px;
	border: 3px solid #fff;
}

#toolBar {
	background-color:#000000; 
	width:60px; 
	display:none; 
	margin:0px; 
	float:left;
}

#hideToolButton, #tool1, #tool2, #tool3, #undoButton, #greyScaleButton, #tool4 {
	border-radius:50%;
	display:block; 
	margin-top:10px; 
	margin-bottom:10px;
	margin-left:auto; 
	margin-right:auto; 
	background-color:#000000; 
	color:#ffffff;
	border-color:#000000;
}


#hideToolButton:hover, #tool1:hover, #tool2:hover, #tool3:hover, #undoButton:hover, #greyScaleButton:hover, #tool4:hover, #eraserButton:hover {
	background-color:#555555;
}

#hideToolButton:focus, #tool1:focus , #toolButton:focus, #tool2:focus, #tool3:hover, #undoButton:hover,  #paint:focus, #erase:focus {
	background-color:#555555;
}

#hideToolButton:focus, #tool1:focus , #toolButton:focus, #tool2:focus, #tool3:focus, #tool4:focus, #eraserButton:focus {
	outline:none;
}

#toolButton {
	border-radius:50%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	float:left;
	background-color: #999999;
	padding-left: 0px;
	padding-right: 5px;
}

#leftSection {
	width:calc(50% - 50px); 
	height:inherit; 
	float:left;
}

#rightSection {
	width:calc(50% - 50px); 
	height:inherit; 
	float:left;
}

#leftButton {
	float:right; 
	border-radius:0px;
	border-right:none;
	border-top:none;
	background-color: #999999;
}

#rightButton {
	float:left; 
	border-radius:0px;
	border-left:none;
	border-top:none;
	background-color: #999999;
}

#ExitButton {
	position: absolute;
	top: 0px;
	right: 0px;
}

#leftButton:focus, #rightButton:focus, #ExitButton:focus {
	outline: none;
}

#imageSpace {
	width:87%; 
	margin-top:50px; 
	max-width:800px;
}

#centerBeam {
	background-color:#999999; 
	width:100px; 
	height:inherit; 
	float:left;
}

#draggable {
	background-color: #ccc;
	border: 1px solid #000;
}

#previewCanvas {
	border: 2px solid black;
	margin-top: 5px;
	max-width: 100%;
}

#preview {
	margin-bottom: 0px;
	text-align: center;
}

#templateNum, #previewCanvas, #imageSpace {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#templateTitle {
	text-align: center;
	margin-top: 40px;
}

#template2, #template3{
	display: none;
}

.templateBackground{
	position: relative;
}

#templateNum {
	margin-top: 70px;
	width: 30%;
}

.dropdown-content {
	display:none;
	position: absolute;
	min-width: 40px;
}

.dropdown {
	position:relative;
	display: inline-block;
}

.templateButtons {
	width: 40px;
	height: 40px;
	background-color: black;
	border: none;
}

.templateBacground{
	background-color: red;
	position: relative;
}

#fontStyleButtons{
	display: inline;
}

#fontSelect {
	width: 100px;
}

.templateDiv{
	margin-top: 10px; 
	margin-left:auto; 
	margin-right:auto; 
	position: relative;
	padding: 0px;
	width: 100%;
}

.shirtOverlay { position:relative;
	z-index: 2;
	width: 100%;
	height: auto;
	opacity: 0.7;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
	pointer-events: none;
} 

.clothESpot1wrap{
	padding:0px;
	position:absolute;
	top: 20%;
	left: 20%;
	z-index: 1;
	width: 15%;
	height: 25%;
	background-color: blue;
}

.clothESpot2wrap{
	padding:0px;
	position:absolute;
	top: 80px;
	left: 390px;
	z-index: 1;
	width: 100px;
	height: 100px;
	background-color: green;
}

.clothESpot3wrap{
	padding:0px;
	position:absolute;
	top: 200px;
	left: 120px;
	z-index: 1;
	width: 150px;
	height: 50px;
	background-color: green;
}

.fonts {
	display: none;
} 
    
.clothESpot {          
	width: 100%;
	height: 100%; 
} 

.resizeGrip {
	width: 20px;
	height: 20px;
	background-color: red;
	border: 1px solid #000000;
	bottom: -10px;
	right:-10px;
}

  .t3ESpot1wrap{
    padding:0px;
    position:absolute;
    top: 79%;
    left: 37%;
    z-index: 1;
    width: 27%;
    height: 17%;
    background-color: blue;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
  }
    
  .t3ESpot2wrap{
    padding:0px;
    position:absolute;
    top: 62%;
    left: 45%;
    z-index: 1;
    width: 22%;
    height: 14%;
    background-color: red;
    -ms-transform: rotate(-50deg); /* IE 9 */
    -webkit-transform: rotate(-50deg); /* Safari */
    transform: rotate(-50deg);
  }
    .t3ESpot3wrap{
    padding:0px;
    position:absolute;
    top: 89%;
    left: 48%;
    z-index: 1;
    width: 22%;
    height: 4%;
    background-color: green;
    -ms-transform: rotate(-50deg); /* IE 9 */
    -webkit-transform: rotate(-50deg); /* Safari */
    transform: rotate(-50deg);
  }

  .t3ESpot4wrap{
    padding:0px;
    position:absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    width: 20%;
    height: 13%;
    background-color: yellow;
    -ms-transform: rotate(130deg); /* IE 9 */
    -webkit-transform: rotate(130deg); /* Safari */
    transform: rotate(130deg);
  }

  .t3ESpot5wrap{
    padding:0px;
    position:absolute;
    top: 25%;
    left: 45%;
    z-index: 1;
    width: 20%;
    height: 13%;
    background-color: orange;
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Safari */
    transform: rotate(-30deg);
  }
