#mainContent {
	width:100%;
	height:700px;
}

#content {
	height:inherit;
	width: 100%;
}

#pic1, #pic2, #pic3, #pic4, #pic5 {
	width: 74px;
	height: 84px;
	margin-top: -70px;

}

#EditButton1, #DeleteButton1, #EditButton2, #DeleteButton2,
#EditButton3, #DeleteButton3, #EditButton4, #DeleteButton4,
#EditButton5, #DeleteButton5 {
	width: 60px;
	height: 30px;
	margin: 5px;
	display: inline-block;
}

#Element1, #Element2, #Element3, #Element4, #Element5 {
	width: 80px;
	margin: auto;
	margin-top: 30px;
	height: 90px;
	background-color: #cccccc;
	border: 3px solid black;
	text-align: center;
	color: #777777;
	font-size: 24px;
	font-weight: bold;
	padding-top: 25px;
}

#Element1:hover, #Element2:hover, #Element3:hover, #Element4:hover, #Element5:hover {
	border-color:#0000ff;
}

#ElementDisplay {
	display: none;
	background-color: #000000;
	position: absolute;
	z-index: 20;
	height: 0px;
	width: 0px;
	right: 55%;
	top: 0px;
}

#ElementCanvas {
	display: block;
	background: repeating-linear-gradient(
	  45deg,
	  #cccccc,
	  #cccccc 10px,
	  #aaaaaa 10px,
	  #aaaaaa 20px
	);
	margin: auto;
	margin-top: 15px;
	border: 3px solid #fff;
}

#toolBar {
	background-color:#000000; 
	width:60px; 
	display:none; 
	margin:0px; 
	float:left;
}

#hideToolButton, #tool1, #tool2, #tool3, #undoButton {
	border-radius:50%;
	display:block; 
	margin-top:10px; 
	margin-bottom:10px;
	margin-left:auto; 
	margin-right:auto; 
	background-color:#000000; 
	color:#ffffff;
	border-color:#000000;
}

#hideToolButton:hover, #tool1:hover, #tool2:hover, #tool3:hover, #undoButton:hover {
	background-color:#555555;
}

#hideToolButton:focus, #tool1:focus , #toolButton:focus, #tool2:focus, #tool3:hover {
	outline:none;
}

#toolButton {
	border-radius:50%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	float:left;
	background-color: #999999;
	padding-left: 0px;
	padding-right: 5px;
}

#leftSection {
	width:calc(50% - 50px); 
	height:inherit; 
	float:left;
}

#rightSection {
	width:calc(50% - 50px); 
	height:inherit; 
	float:left;
}

#leftButton {
	float:right; 
	border-radius:0px;
	border-right:none;
	border-top:none;
	background-color: #999999;
}

#rightButton {
	float:left; 
	border-radius:0px;
	border-left:none;
	border-top:none;
	background-color: #999999;
}

#ExitButton {
	position: absolute;
	top: 0px;
	right: 0px;
	
}

#leftButton:focus, #rightButton:focus, #ExitButton:focus {
	outline: none;
}

#imageSpace {
	width:87%; 
	margin-top:50px; 
	margin-left:auto; 
	margin-right:auto; 
	max-width:800px;
}

#centerBeam {
	background-color:#999999; 
	width:100px; 
	height:inherit; 
	float:left;
}

#draggable {
	background-color: #ccc;
	border: 1px solid #000;
}

#previewCanvas {
	margin-left:auto;
	margin-right:auto;
	border: 2px solid black;
	margin-top: 5px;
	display: block;
	max-width: 100%;
}

#preview {
	margin-bottom: 0px;
	text-align: center;
}

.templateDiv{
	margin-top:75px; 
	margin-left:auto; 
	margin-right:auto; 
	position: relative;
	overflow: hidden;
	padding: 10px;
	width: 100%;
	height: inherit;
}

.shirtOverlay { position:relative;
	z-index: 2;
	width: 100%;
	height: auto;
	opacity: 0.7;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	pointer-events: none;
} 

  .clothESpot1wrap{
    padding:0px;
    position:absolute;
    top: 80px;
    left: 100px;
    z-index: 1;
    width: 100px;
    height: 100px;
    background-color: green;
  }
    
    .clothESpot2wrap{
      padding:0px;
      position:absolute;
      top: 80px;
      left: 390px;
      z-index: 1;
      width: 100px;
      height: 100px;
      background-color: green;
  }

      .clothESpot3wrap{
      padding:0px;
      position:absolute;
      top: 200px;
      left: 120px;
      z-index: 1;
      width: 150px;
      height: 50px;
      background-color: green;
  }
    
    
.clothESpot {          
      width: 100%;
      height: 100%; 
      } 

.resizeGrip {
      width: 20px;
      height: 20px;
      background-color: red;
      border: 1px solid #000000;
      bottom: -10px;
      right:-10px;
}
